%a{href: "https://github.com/christianrojas/tangosource_challenge", target: '_blank'}
  %img{alt: "Fork me on GitHub", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", style: "position: absolute; top: 0; right: 0; border: 0;"}
/ /github fork badge link

.row
  .span8.offset2
    .page-header
      %h2
        GitHub
        %small Commits Density Graph
/ /title

.row
  .span8.offset2
    %div
      %form.form-search{"ng-submit" => "process_request()", name: 'newQueryForm'}
        %input#accountRepoQuery.span7{name: "queryField", "ng-model" => "newQuery.query", placeholder: "account/repository", type: "text", "ng-change" => "validate_input_query()", "ng-class" => "{ errorInput: inputError }"}
        %input.btn.btn.btn-success.disabled{type: "submit", value: "Analyze", "ng-class" => "{disabled: inputError}"}
      / /form

%section#notifications.hide
  .row
    .span8.offset2
      #errorNotification.alert.alert-error.hide
        %strong Ups!
        I could not find what you're asking me. Try again!
      #infoNotification.alert.alert-info.hide
        We are analyzing the repository...

%section#blankState
  .row
    .span2.offset2
      .pull-right#blankStateArrow= image_tag 'arrow.png'
    .span6
      .alert.alert-block.alert-info.fade.in
        %h4.alert-heading Welcome
        %p 
          This Application will show you the commit density of a day from the given repository. 
          %br
          Start by writting the account name and repository name in the form, then clic the "Analyze" green button.
  / /blank state

%section#queryResults.hide
  .row
    .span8.offset2
      = image_tag 'repo.png'
      %span= link_to "{{accountRepo[0]}}", "http://www.github.com/{{accountRepo[0]}}", target: '_blank'
      \/
      = link_to "{{accountRepo[1]}}", "http://www.github.com/{{accountRepo[0]}}/{{accountRepo[1]}}", target: '_blank', id: "repoName"
      &nbsp; &nbsp;
      = image_tag 'commits.png'
      %b {{commitsCount}}
      commits
      %div#daysSelect.pull-right
        %span#pickDateSelectLabel Pick a date:
        &nbsp;
        %br
        %select{"ng-model" => "dayPicker", "ng-options" => "d.day for d in days", "ng-change" => "make_day_graph()"}
          %option{:value => ""}

  / /repo status

  .row
    .span8.offset2
      %hr
      #container{:style => "min-width: 400px; height: 400px; margin: 0 auto"}
      / /graph
      %hr
      %table.table.table-condensed.table-striped.table-bordered
        %thead
          %tr
            %th.span1
            %th.span2 Contributor
            %th Commit message
        %tbody
          %tr{"ng-repeat" => "commit in commits"}
            %td= image_tag("https://secure.gravatar.com/avatar/{{commit.author.gravatar_id}}", size: '30x30', class: "commitAuthorImage")
            %td.commitAuthorName= link_to "{{commit.commit.author.name}}", "{{commit.author.html_url}}", target: '_blank'
            %td= link_to "{{commit.commit.message}}", "{{commit.html_url}}", target: '_blank'
 
.row
  .span8.offset2  
    %hr
    %footer
      Designed and developed by
      = link_to '@christianrojas', 'http://www.twitter.com/christianrojas', target: '_blank'
      \-
      = link_to '@tangosource', 'http://www.twitter.com/tangosource', target: '_blank'
      challenge
    %br
    %br
  / /footer
