!!!
%html{"ng-app" => "githubCommitsChallenge"}
  %head
    %title GitHub Commits by day
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
  %body
    .container{"ng-controller" => "githubCommitsChallengeCtrl"}
      = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
